@import url('~normalize.css/normalize.css');

* {
  box-sizing: border-box;
}

/* TODO */
main {
  width: 85%;
  margin: 0 auto;
}

.movies {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.movies .thumbnail {
  margin: 5px;
}

.movies .thumbnail img {
  width: 100%;
  height: auto;
}

.movies form {
  grid-area: 1 / 1 / 2 / span 9;
}

.movies form input {
  width: 70%;
  padding: 5px;
  margin: 10px;
  border: 1px solid rgb(111, 174, 240);
}

.movies form button {
  background-color: rgb(59, 150, 219);
  width: 10%;
  padding: 5px;
  margin: 10px;
  color: white;
  border: none;
}

.movies .featured {
  grid-area: 2 / 1 / span 4 / span 6;
  margin: 10px;
}

.movies .featured img {
  width: 40%;
  margin-right: 10px;
}

.hidden {
  display: none;
}